In [2]:
import os
import pandas
import seaborn

In [3]:
DATA_DIRECTORY = '.'
dataset = pandas.read_csv(os.path.join(DATA_DIRECTORY, 'runs.csv'))
dataset

,Run ID,Name,Source Type,Source Name,User,Status,embedded_columns,hidden_layer_size,numerical_columns,one_hot_columns,accuracy,epochs,loss
0,32556f6e452e487da0c01840408f86d5,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.347189,10,1.424557
1,a9d04977930c4517a4c6d1878c564489,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.342466,10,1.433863
2,f34a39ff83e842d19efe451b697c844b,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,NaN,64,NaN,"{'Gender': 3, 'Color1': 7}",0.291450,10,1.467156
3,98c03fd1ca704ecc8d74fd0bcd2f25ce,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,NaN,64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.328295,10,1.424075
4,9b46d5bbe12d43fcac2151d3272c0d28,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.323571,10,1.466174
5,0feaaa5ff463413d8d85658a67d16830,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.324516,10,1.464941
6,ebc559c15aa94583a9669e2b4f641cef,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,NaN,64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.364667,10,1.402209
7,34213720b2254c1f8cf247e6744422ce,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.366084,10,1.437433
8,0148859352ae450e974717eb20d8728c,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.358526,10,1.440377
9,db0e608006824593b953c7134a2a6d60,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.337742,10,1.532830
10,67c0b2f311a940cb933ffa70bab0449d,NaN,LOCAL,/home/manueldiplo/.conda/envs/deep/lib/python3...,manueldiplo,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.326878,10,1.453030

Finalmente, tienen que reportar los hyperparámetros y resultados de todos los modelos entrenados. Para esto, pueden utilizar los resultados que recolectan con *mlflow* y procesarlos con una notebook. Tiene que presentar esa notebook o un archivo (pdf|md) con las conclusiones que puedan sacar. Dentro de este reporte tiene que describir:
  * Hyperparámetros con los que procesaron cada columna del dataset. ¿Cuáles son las columnas que más afectan al desempeño? ¿Por qué?
  * Las decisiones tomadas al construir cada modelo: regularización, batch normalization, dropout, número y tamaño de las capas, optimizador.
  * Proceso de entrenamiento: división del train/dev, tamaño del batch, número de épocas, métricas de evaluación. Seleccione los mejores hiperparámetros en función de su rendimiento. El proceso de entrenamiento debería ser el mismo para todos los modelos.
  * Analizar si el clasificador está haciendo overfitting. Esto se puede determinar a partir del resultado del método fit.

In [4]:
ds_resu = dataset[['Run ID','Status','embedded_columns','hidden_layer_size','numerical_columns','one_hot_columns','accuracy','epochs','loss']]
ds_resu

,Run ID,Status,embedded_columns,hidden_layer_size,numerical_columns,one_hot_columns,accuracy,epochs,loss
0,32556f6e452e487da0c01840408f86d5,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.347189,10,1.424557
1,a9d04977930c4517a4c6d1878c564489,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.342466,10,1.433863
2,f34a39ff83e842d19efe451b697c844b,FINISHED,NaN,64,NaN,"{'Gender': 3, 'Color1': 7}",0.291450,10,1.467156
3,98c03fd1ca704ecc8d74fd0bcd2f25ce,FINISHED,NaN,64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.328295,10,1.424075
4,9b46d5bbe12d43fcac2151d3272c0d28,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.323571,10,1.466174
5,0feaaa5ff463413d8d85658a67d16830,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,"['Age', 'Fee', 'Quantity', 'State']","{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.324516,10,1.464941
6,ebc559c15aa94583a9669e2b4f641cef,FINISHED,NaN,64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.364667,10,1.402209
7,34213720b2254c1f8cf247e6744422ce,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.366084,10,1.437433
8,0148859352ae450e974717eb20d8728c,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.358526,10,1.440377
9,db0e608006824593b953c7134a2a6d60,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.337742,10,1.532830
10,67c0b2f311a940cb933ffa70bab0449d,FINISHED,"{'Breed1': 308, 'Breed2': 308}",64,NaN,"{'Gender': 3, 'Color1': 7, 'Color2': 7, 'Color...",0.326878,10,1.453030

Las columnas que mas afectaron a las predicciones son las de Breed1 y Breed2. Cuando las sacamos notamos que bajaba la calidad de la predicción.

Todas las pruebas fueron trabajadas con 10 epocas de entrenamiento.
La de mejor accuracy fue con 0.3666084 
Aplicamos para mejorar capa dropout y flatten.

Se uso el dataset para train con el 80 % de las muestras y el 20% restante se uso para evaluar el modelo. Se fue probando el tamañao del batch pero quedo en 32.
Como hiperparametros usamos:
Batch size = 32
Epochs = 10
Hidden Layer Size = 64
shuffle_size = 100
loss = categorical_crossentropy
optimizer = adam
metrics= accuracy

Segun lo analizado no se realizó overfitting.